p {
  border-radius: 7px;
  width: 100px;
  height: 100px;
}
div {
  margin-left: 30%;
  margin-right: 30%;
  position: static;

  display: flex;
  flex-wrap: wrap;
 
  justify-content: space-around;
}
.one {
  border: 1px solid pink;
  color: white;
  background-color: pink;
  text-align: center;
  position: relative;
  top: 70px;
  left: 70px;
  z-index: 1;
}

.two {
  border: 1px solid cornflowerblue;
  color: white;
  background-color: cornflowerblue;
  
  text-align: center;
}

.three {
  border: 1px solid orange;
  color: white;
  background-color: orange;
  
  text-align: center;  
}

.four {
  border: 1px solid yellow;
  color: white;
  background-color: yellow;
  
  text-align: center;
}

.five {
  border: 1px solid green;
  color: white;
  background-color: green;
 
  text-align: center;
}

.six {
  border: 1px solid blue;
  color: white;
  background-color: blue;
 
  text-align: center;
}

.seven {
  border: 1px solid purple;
  color: white;
  background-color: purple;
  
  text-align: center;
}

.eight {
  border: 1px solid indigo;
  color: white;
  background-color: indigo;
  
  text-align: center;
}

.nine {
  border: 1px solid violet;
  color: white;
  background-color: violet;
 
  text-align: center;
}

.ten {
  border: 1px solid black;
  color: white;
  background-color: black;
 
  text-align: center;
}

.eleven {
  border: 1px solid brown;
  color: white;
  background-color: brown;
 
  text-align: center;
}

.twelve {
  border: 1px solid gray;
  color: white;
  background-color: gray;
 
  text-align: center;
}
